<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412377351142-ralf8e3qvrgebg0t6l3deogs0va6ief6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412377351142-ralf8e3qvrgebg0t6l3deogs0va6ief6</string>
	<key>API_KEY</key>
	<string>AIzaSyDj-aRUYJSmWUcdpNaRUMUkPTay-kVuNu0</string>
	<key>GCM_SENDER_ID</key>
	<string>412377351142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocketPuppyRattery.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pocket-puppy-rattery-c3f07</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-puppy-rattery-c3f07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412377351142:ios:a6888559e5386cdeafcc27</string>
</dict>
</plist>